//GREEN
$primary-green:#00bb31;
$secondary-green:#37CB73;
$tertiary-green:#69D896;
$quaternary-green:#9BE5B9;
$quinary-green:#CDF2DC;
//BLUE
$primary-blue:#0039A6;
$secondary-blue:#3361B8;
$tertiary-blue:#6688CA;
$quaternary-blue:#99B0DB;
$quinary-blue:#CCD7ED;
//GREY DARK
$primary-grey-dark:#0F191E;
$secondary-grey-dark:#878C8F;
$tertiary-grey-dark:#B7BABC;
$quaternary-grey-dark:#D9DADB;
$quinary-grey-dark:#ECEDED;
$senary-grey-dark:#FBFBFB;
//WHITE
$primary-white:#FFFFFF;
//BEIGE
$primary-beige:#F0F0DC;
$secondary-beige:#F3F3E3;
$tertiary-beige:#F6F6EA;
$quaternary-beige:#F9F9F1;
$quinary-beige:#FCFCF8;
//YELLOW (Otro uso de este color es para fondos en mensaje destacado del home)
$primary-yellow:#FFCD00;
$secondary-yellow:#FFD733;
$tertiary-yellow:#FFE166;
$quaternary-yellow:#FFEB99;
$quinary-yellow:#FFF5CC;
//WATERMELON (Otro uso de este color es para los mensajes de error) 
$primary-watermelon:#EB0046;
$secondary-watermelon:#EF336B;
$tertiary-watermelon:#F36690;
$quaternary-watermelon:#F799B5;
$quinary-watermelon:#FBCCDA;
//LIGHT BLUE (Otro uso de este color es para fondos en el Centro de Ayuda)
$primary-light-blue:#64B4E6;
$secondary-light-blue:#83C3EB;
$tertiary-light-blue:#A2D2F0;
$quaternary-light-blue:#C1E1F5;
$quinary-light-blue:#E0F0FA;
//DRAK BLUE
$primary-drak-blue:#001E5F;
$secondary-drak-blue:#334B7F;
$tertiary-drak-blue:#66789F;
$quaternary-drak-blue:#99A5BF;
$quinary-drak-blue:#CCD2DF;
//ORANGE  (Uso exclusivo para tonos de piel en las ilustraciones) 
$primary-orange:#F99100;
$secondary-orange:#FABE64;