@font-face {
    font-family: 'omnes-regular';
    src: url('./../fonts/omnes-regular.eot');
    src: url('./../fonts/omnes-regular.eot') format('embedded-opentype'), url('./../fonts/omnes-regular.woff2') format('woff2'), url('./../fonts/omnes-regular.woff') format('woff'), url('./../fonts/omnes-regular.svg') format('svg');
}

@font-face {
    font-family: 'omnes-semibold';
    src: url('./../fonts/omnes-semibold.eot');
    src: url('./../fonts/omnes-semibold.eot') format('embedded-opentype'), url('./../fonts/omnes-semibold.woff2') format('woff2'), url('./../fonts/omnes-semibold.woff') format('woff'), url('./../fonts/omnes-semibold.svg') format('svg');
}