@import '../../assets/scss/layout/utils';
@import '../../assets/scss/colors';
@import '../../assets/scss/buttons';
.chatlist {
    background-image: url("./../../assets/img/fondo-chat.png");
    background-size: contain;
    background-position: center center;
    background-attachment: fixed;
    .msg_card_body {
        height: calc(100vh - 124px);
        .header-titles {
            display: grid;
            grid-template-columns: auto 10% 10% 10% 10% 10%;
            background: $quinary-blue;
            color: $primary-blue;
            padding: .5rem 1rem;
        }
        .body {
            height: calc(100% - 60px);
            overflow: scroll;
            .contentWelcome {
                width: 50%;
                .mensaje-user {
                    background: $secondary-green;
                    border-radius: 5px;
                    max-width: 100%;
                }
            }
            .content-response {
                display: grid;
                grid-template-columns: 50% 50%;
                align-items: center;
                .mensaje-bot {
                    background: $primary-white;
                    border-radius: 5px;
                    max-width: 100%;
                }
                .variables-response {
                    background: $quinary-green;
                    display: grid;
                    border-radius: 5px;
                    grid-template-columns: 20% 20% 20% 20% 20%;
                    .mensaje-response-bot {
                        color: $primary-green;
                        border-radius: 2px;
                        max-width: 100%;
                    }
                }
            }
            .loading {
                position: relative;
                img {
                    animation: spin 4s linear infinite;
                }
                p {
                    color: $primary-green;
                }
            }
        }
    }
    .content-msj {
        bottom: 0;
        box-sizing: border-box;
        background: $quinary-grey-dark;
        position: relative;
        .btn-send,
        .icon {
            color: $tertiary-grey-dark;
        }
        .btn-send-text {
            color: $primary-green;
        }
        .input-text {
            width: 72%;
            background: $primary-white;
            padding: 0 1rem;
            border-radius: 20px;
        }
    }
}

.btn-send,
.btn-send-text {
    border: none;
    color: $tertiary-grey-dark;
    text-align: center;
    display: flex;
}

.btn-send {
    color: $tertiary-grey-dark;
    ;
}

.btn-send-text {
    color: $primary-green;
}

.content_size_app {
    padding: 0 5rem;
}

.content_size_web {
    //sin estilo  
}

.mensaje_web {
    margin-right: 1rem;
}

.mensaje_app {
    margin-right: 5rem;
}

.mensaje-user_app {
    padding-left: 5rem;
    width: calc(50% - 5rem) !important;
}

.mensaje-user_web {
    padding-left: 1rem;
    width: calc(50% - 1rem) !important;
}