<div class="chatlist hp-100">
    <form [formGroup]="form">
        <div class="msg_card_body">
            <div class="ta-c hp-100">
                <!-- Bienvenia del Bot-->
                <div class="header-titles">
                    <div>Text</div>
                    <div>Código</div>
                    <div>Confianza</div>
                    <div>Flujo</div>
                    <div>Texto técnico</div>
                    <div>Botones</div>
                </div>
                <div class="p-16 body" *ngIf="dataResponseJson" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <div class="pb-32">
                        <div *ngFor="let value of dataResponseJson">
                            <div class="flex-class jc-fe contentWelcome ">
                                <div #messageitem class="mensaje-user mb-2 mr-16 p-10 ta-s">
                                    {{value.text}}
                                </div>
                            </div>
                            <div *ngFor="let items of value.answers" class=" content-response jc-fs">
                                <div class="flex-class ">
                                    <div class="mensaje-bot mb-2v  mb-2 p-10 ta-s">
                                        <span [innerHtml]='formatText(items.text)'> </span>
                                    </div>
                                </div>
                                <div class="variables-response ai-center ">
                                    <div class="flex-class ta-c jc-center">
                                        <div class="mensaje-response-bot mb-2v  mb-2 ta-c p-5">
                                            {{items.code}}
                                        </div>
                                    </div>

                                    <div class="flex-class ta-c jc-center">
                                        <div class="mensaje-response-bot mb-2v flex-class mb-2">
                                            {{items.confidence | number : '1.2-2'}}
                                        </div>
                                    </div>
                                    <div class="flex-class ta-c jc-center">
                                        <div class="mensaje-response-bot mb-2v flex-class mb-2">
                                            {{items.flow}}
                                        </div>
                                    </div>
                                    <div class="flex-class ta-c jc-center">
                                        <div class="mensaje-response-bot mb-2v flex-class mb-2">
                                            {{items.technicalText}}
                                        </div>
                                    </div>
                                    <div class="flex-class ta-c jc-center">
                                        <div class="mensaje-response-bot mb-2v flex-class mb-2">
                                            {{items.options}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showLoaderInit" class="ai-center p-16 loading ta-c ai-center flex-class jc-center">
                            <div class="pos-ab">
                                <img src="assets/icon/loading.svg" alt="loading">
                                <p>Cargando Respuesta</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <footer class="content-msj flex-class pt-8 pb-8 pl-16 pr-16 vw-100 ai-center">
            <mat-icon class="mr-16 icon">tag_faces</mat-icon>
            <mat-icon class="mr-16 icon">attach_file</mat-icon>
            <div class="input-text ta-s ai-center flex-class">
                <input class="pt-8 pb-8" matInput placeholder="Escribe un mensaje" formControlName="textInput" [(ngModel)]="message" autocomplete="off">
            </div>
            <div>
                <button id="btnEnviarFormulario" (click)="sendFormulario(message)" [ngClass]="form.invalid ? 'btn-send' : 'btn-send-text'" [disabled]="form.invalid">
          <mat-icon>send</mat-icon>
        </button>
            </div>
            <div class="button-container ml-16">
                <button mat-button>EXPORTAR</button>
            </div>
        </footer>
    </form>
</div>