$map-color-primary-watcher: ( 50: #e0f5fb, 100: #b3e5f6, 200: #80d4f0, 300: #4dc3e9, 400: #26b6e5, 500: #00a9e0
/*#57c700*/

, 600: #00a2dc, 700: #0098d8, 800: #008fd3, 900: #007ecb, A100: #f3faff, A200: #c0e4ff, A400: #8dceff, A700: #74c3ff, contrast: ( // 50 : #000000,
// 100 : #000000,
// 200 : #000000,
// 300 : #000000,
// 400 : #000000,
50: #ffffff, 100: #ffffff, 200: #ffffff, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, // A100 : #000000,
// A200 : #000000,
// A400 : #000000,
// A700 : #000000,
A100: #ffffff, A200: #ffffff, A400: #ffffff, A700: #ffffff));
$map-color-green: ( 50: #ebf8e0, 100: #ceeeb3, 200: #ade280, 300: #8cd64d, 400: #74ce26, 500: #5bc500, 600: #53bf00, 700: #49b800, 800: #40b000, 900: #2fa300, A100: #d8ffce, A200: #b0ff9b, A400: #88ff68, A700: #73ff4e, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #000000, 500: #000000, 600: #000000, 700: #000000, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$map-color-secondary: ( 50: #f3e0f3, 100: #e0b3e0, 200: #cc80cc, 300: #b74db7, 400: #a726a7, 500: #980098, 600: #900090, 700: #850085, 800: #7b007b, 900: #6a006a, A100: #ff99ff, A200: #ff66ff, A400: #ff33ff, A700: #ff1aff, contrast: ( // 50 : #000000,
// 100 : #000000,
// 200 : #000000,
50: #ffffff, 100: #ffffff, 200: #ffffff, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, // A100 : #000000,
// A200 : #000000,
// A400 : #000000,
A100: #ffffff, A200: #ffffff, A400: #ffffff, A700: #ffffff));