<div class="form hp-100">
    <div class="b-primary-green content-img hp-100">
        <p class="m-0 mt-32 ml-32 fts-25">AVIwatcher</p>
        <div class="text-p mt-60 ">
            <p class="fts-48 m-0"> Bienvenido </p>
            <br>
            <span class="fts-18"> al Gestor Integral de Reclamos y Pedidos Único.</span>
        </div>
    </div>
    <div class="flex-class">
        <h2><b>Ingresar al sistema</b></h2>
        <span>Login</span>
        <!-- <form [formGroup]="form">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="user" placeholder="user">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" placeholder="password">
            </mat-form-field>
            <div class="button-container">
                <button mat-flat-button>INGRESAR</button>
            </div>
        </form> -->
    </div>
</div>