@import '../../../assets/scss/layout/utils';
@import '../../../assets/scss/colors';
@import '../../../assets/scss/buttons';
.form {
    display: grid;
    grid-template-columns: 50% 50%;
    color: $primary-white;
    .content-img {
        background-image: url("./../../../assets/img/imagen-login.png");
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .text-p {
        padding-left: 12%;
    }
}