<div class="ng-content">
    <div class="section-1">
        <div class="content-nav">
            <div class="toolbar nav pl-16">
                <div class="flex-class ai-center">
                    <p class="m-0"> <span>AVIwatcher</span></p>
                    <div class="button-container ml-16 mr-16">
                        <button mat-button color="primary">RESTAURAR</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-json p-16 pb-16">
            <ngx-json-viewer [json]="v" [expanded]="true" [depth]="3"></ngx-json-viewer>
        </div>

    </div>
    <div class="section-2">
        <div class="content-form">

            <form id="contactForm" [formGroup]="formNav" class="col-10 flex-class ai-center toolbar nav  pr-16">
                <div class="section-checkbox flex-class">
                    <mat-checkbox class=" ml-16 mr-12" formControlName="web">WEB</mat-checkbox>
                    <mat-checkbox class=" " formControlName="app">APP</mat-checkbox>
                </div>
                <div class="flex-class m-16 ai-center">
                    <div class="mr-8 label-env">
                        <mat-label>Ambiente :</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="env-select">
                        <mat-select (selectionChange)="capturar($event)" placeholder="seleccionar" formControlName="ambiente">
                            <mat-option *ngFor="let items of ambientes" [value]="items" style="font-size: 14px;">
                                {{items}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-class m-16 ai-center">

                    <div class="mr-8" style="text-align: center; display: flex  ;   white-space: nowrap;">
                        <mat-label style="font-size: 14px; ;">Bot :</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="env-select">
                        <mat-select (selectionChange)="capturar($event)" placeholder="seleccionar">
                            <mat-option *ngFor="let items of data" [value]="items" style="font-size: 14px;">
                                {{items.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-class m-16 ai-center">

                    <div class="mr-8" style="text-align: center; display: flex ;    white-space: nowrap;">
                        <mat-label style="font-size: 14px; ;">Identificador :</mat-label>
                    </div>
                    <div class="flex-class content-input">
                        <input class="input-id" type="tel" matInput placeholder="+51" autocomplete="off">
                        <input class="input-num" type="tel" matInput placeholder="Ingresa número" autocomplete="off">
                    </div>

                </div>
                <div class="button-container">
                    <button mat-button color="primary">LIMPIAR</button>
                </div>
            </form>
        </div>
        <div style=" height: calc(100vw - 73px);">
            <app-chat (emitChangeText)="changeText($event)"></app-chat>
        </div>
    </div>
</div>