@import '../../assets/scss/layout/utils';
@import '../../assets/scss/colors';
@import '../../assets/scss/buttons';
.ng-content {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    .section-1 {
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        position: relative;
        max-width: 20rem;
        transform: translateZ(0);
        .content-nav {
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        }
        .nav-section1 {
            background: $quinary-grey-dark;
            height: 73px;
            flex-wrap: nowrap;
            p {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                color: $primary-green;
            }
        }
        .loading {
            height: calc(100% - 105px);
            img {
                animation: spin 4s linear infinite;
            }
            p {
                color: $primary-green;
            }
        }
        .content-json {
            background: transparent;
            height: calc(100% - 105px);
            overflow: scroll;
        }
    }
    .section-2 {
        border-left: 1px solid $quaternary-grey-dark;
        height: 73px;
        width: 100%;
        transform: translateZ(1);
        .content-form {
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
            position: relative;
            .nav-section2 {
                display: grid;
                grid-template-columns: auto 10% 10% 10% 10% 10%;
                background: $quinary-grey-dark;
                height: 73px;
                flex-wrap: nowrap;
                .section-checkbox {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    color: $primary-grey-dark;
                }
            }
            .env-select {
                max-width: 8rem;
            }
            .content-input,
            .content-input-disable {
                input {
                    height: 32px;
                    border: 1px solid $quaternary-grey-dark;
                    box-sizing: border-box;
                }
                .input-id {
                    min-width: 35px;
                    max-width: 40px;
                    border-radius: 4px 0 0 4px;
                }
                .input-num {
                    min-width: 116px;
                    border-radius: 0 4px 4px 0;
                    text-align: start;
                }
            }
            .content-input {
                color: $primary-grey-dark;
            }
            .content-input-disable {
                color: $secondary-grey-dark;
            }
        }
        .content-chat {
            height: calc(100vw - 73px);
        }
    }
}

::ng-deep snack-bar-container.notif-succes {
    padding: 20px;
    background-color: $primary-watermelon;
    color: $primary-white;
}

@media screen and (max-width: 900px) {
    .section-2 {
        width: auto !important;
    }
}