<div class="ng-content flex-class">
    <div class="section-1">
        <div class="content-nav">
            <div class="toolbar nav-section1 jc-sb flex-class pl-16">
                <!-- <div class="flex-class ai-center"> -->
                <p class="m-0 fts-25 flex-class ai-center m-0"> <span>AVIwatcher</span></p>
                <div class="button-container ml-16 mr-16 flex-class ai-center">
                    <button mat-button (click)="restaurar()">RESTAURAR</button>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div *ngIf="showLoaderInit" class="ai-center p-16 loading ta-c ai-center flex-class jc-center">
            <div>
                <img src="assets/icon/loading.svg" alt="loading">
                <p>Cargando Respuesta</p>
            </div>
        </div>
        <div *ngIf="json && !showLoaderInit" class="content-json p-16 pb-16">
            <ngx-json-viewer [json]="json" [expanded]="true" #jsonFormater></ngx-json-viewer>
        </div>
    </div>
    <div class="section-2">
        <div class="content-form">
            <form id="contactForm" [formGroup]="formNav" class="col-10 flex-class jc-sb ai-center toolbar ta-c nav-section2 pr-16">
                <mat-radio-group>
                    <div class="section-checkbox flex-class ai-center fts-10">
                        <mat-radio-button class=" ml-16 mr-12" value="1" (change)="setearValor(1)" [checked]="activeCheck === 1">WEB
                        </mat-radio-button>
                        <mat-radio-button value="2" (change)="setearValor(2)" [checked]="activeCheck === 2">APP</mat-radio-button>
                    </div>
                </mat-radio-group>
                <div class="flex-class m-16 ai-center">
                    <div class="mr-8 w-space ta-c flex-class ">
                        <mat-label class="fts-14">Ambiente :</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="env-select">
                        <mat-select (selectionChange)="capturarEnviroment($event)" placeholder="seleccionar" formControlName="ambiente" [disabled]="sendText">
                            <mat-option *ngFor="let items of ambientes" [value]="items" class="fts-14">
                                {{items}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-class m-16 ai-center">

                    <div class="mr-8 flex-class ai-center w-space">
                        <mat-label class="fts-14">Bot :</mat-label>
                    </div>
                    <mat-form-field appearance="outline" class="env-select">
                        <mat-select (selectionChange)="capturar($event)" placeholder="seleccionar" formControlName="bot" [disabled]="sendText">
                            <mat-option *ngFor="let items of data" [value]="items" class="fts-14">
                                {{items.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="flex-class m-16 ai-center">

                    <div class="mr-8 flex-class ai-center w-space">
                        <mat-label class="fts-14">Identificador :</mat-label>
                    </div>
                    <div [ngClass]="sendText?'content-input-disable flex-class':'content-input flex-class'">
                        <input class="input-id" type="text" matInput autocomplete="off" formControlName="identifier" maxlength="3" [readonly]="sendText">
                        <input class="input-num pl-8 pr-8" type="tel" matInput placeholder="Ingresa número" autocomplete="off" formControlName="number" maxlength="9" onkeypress='return event.charCode >= 48 && event.charCode <= 57' [readonly]="sendText">
                    </div>
                </div>
                <div class="button-container">
                    <button mat-button (click)="limpiar()">LIMPIAR</button>
                </div>
            </form>
        </div>
        <div class="content-chat">
            <app-chat [formNav]="formNav" (emitChangeText)="changeText($event)" [dataResponseJson]=' dataResponseJson ' [showLoaderInit]='showLoaderInit ' [showheartIconRead]='showheartIconRead ' [resetText]='resetText' [activeDownload]='activeDownload'></app-chat>
        </div>
    </div>
</div>